
a.toc-top-link {
    right: 0.5em;
    position: absolute;
}
.mm-menu {
    width: 70%;
}
.mm-listview .mm-next::before {
    border-left-style: none;
}
.jumbotron .toc-top-link, 
h3#social > .toc-top-link,
h3#about-us > .toc-top-link,
h3.panel-title > .toc-top-link {
    display: none;
}
