export GOPATH=$HOME/cdev        # set path to your new Go workspace
export GOBIN=$GOPATH/bin        # set bin path
export PATH=$PATH:$GOBIN        # add Go bin path to your overall path
export CCP_BASEOS=rocky8          # ubi8 for Red Hat Universal Base Image
export CCP_PGVERSION=14         # The PostgreSQL major version
export CCP_PG_FULLVERSION=14.4
export CCP_POSTGIS_VERSION=3.2  # The PostGIS version
export CCP_VERSION=5.1.2-0
export CCP_IMAGE_PREFIX=crunchydata # Prefix to put before all the container image names
export CCP_IMAGE_TAG=$CCP_BASEOS-$CCP_PG_FULLVERSION-$CCP_VERSION   # Used to tag the images
export CCP_POSTGIS_IMAGE_TAG=$CCP_BASEOS-$CCP_PG_FULLVERSION-$CCP_POSTGIS_VERSION-$CCP_VERSION # Used to tag images that include PostGIS
export CCPROOT=$GOPATH/src/github.com/crunchydata/crunchy-containers    # The base of the clone github repo
export CCP_SECURITY_CONTEXT=""
export CCP_CLI=kubectl          # kubectl for K8s, oc for OpenShift
export CCP_NAMESPACE=postgres-operator       # Change this to whatever namespace/openshift project name you want to use
export CCP_PG_EXTENSIONS="pg_qualstats_$CCP_PGVERSION hypopg_$CCP_PGVERSION powa_$CCP_PGVERSION"
export CCP_BACKREST_VERSION=2.36
