name: primary-replica
container:
  port: 5432
  name:
    primary: primary
    replica: replica
credentials:
  primary: password
  root: password
  user: password
serviceType: ClusterIP
image:
  repository: crunchydata
  container: crunchy-postgres
  tag: centos7-9.6.5-1.6.0
nfs:
  serverIP: 10.0.1.4
  path: /mnt/nfsfileshare
pv:
  storage: 400M
  name: primary-pv
pvc:
  name: primary-pvc
resources:
  cpu: 200m
  memory: 512Mi
